<launch>
  <include file="$(find cobot_pick)/launch/rs_basket.launch">
  </include>

  <include file="$(find cobot_pick)/launch/rs_object.launch">
  </include>

  <include file="$(find cobot_pick)/launch/action_server.launch">
  </include>

  <include file="$(find cobot_pick)/launch/action_server_basket.launch">
  </include>

<!--
  <node name="gpio_server" pkg="cobot_plan_control" type="gpio_server" respawn="false" output="screen" launch-prefix="sudo">
  </node>
-->
  <node name="cobot_plan_control" pkg="cobot_plan_control" type="cobot_plan_control" respawn="false" output="screen" launch-prefix="gdb -ex run - -args">
    <remap from="cobot_dynamixel_driver/goal" to="/cobot/goal"/>
  </node>

  <node name="cobot_torque_detection" pkg="cobot_jig_controller" type="torque_detection.py" output="screen">
  </node>
</launch>
