<launch>
  <param name="/use_sim_time" value="true"/>
  <arg name="log_file" default="/home/tong/catkin_ws/bag/cobot/wave_moving_record/j5_1hz_s1.bag" />
  
  <node pkg="rosbag" type="play" name="play" args="$(arg log_file) -r 1 --clock --start=0" />
  <node pkg="cobot_planner" name="bag2txt" type="bag2txt.py" output="screen" >
    <param name="log_file" value="$(arg log_file)"/>
  </node>
</launch>

