<launch>
  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <!-- GDB Debug Option -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix"
	   value="gdb -x $(find cobot_moveit_config)/launch/gdb_settings.gdb --ex run --args" />

  <node name="cobot_dynamixel_driver" pkg="cobot_dynamixel_driver" type="cobot_dynamixel_driver_pro" respawn="false" output="screen" launch-prefix="gdb -ex run - -args">
    <remap from="cobot_dynamixel_driver/joint_states" to="joint_states"/>
    <remap from="cobot_dynamixel_driver/goal" to="/cobot/goal"/>
<!--    <param name="fake_joints" value="5"/> -->
    <param name="load_joint_name" value="true"/>
    <param name="setting_file" value="$(find cobot_dynamixel_driver)/src/settings_pro.xml" />
  </node>
</launch>
