<launch>
  <node name="cobot_find_object" pkg="cobot_pick" type="cobot_find_object" respawn="false"
         output="screen" launch-prefix="gdb -ex run --args">
    <param name="mode" value="action"/>
    <param name="save_file_prefix" 
      value="/home/tong/catkin_ws/src/cobot/cobot_pick/data/white_box_label4"/>
    <param name="result_save_path" 
      value="/home/tong/catkin_ws/src/cobot/cobot_pick/results/"/>
    <param name="show_result" value="true"/>

    <param name="normal_th_ang" value="0.05"/>
    <param name="th_pointcloud_distance" value="0.01"/>
    <param name="normal_win_size" value="6"/>
    <param name="normal_thread_num" value="2"/>

    <param name="plane_reg_min" value="3000"/>
    <param name="plane_reg_max" value="30000"/>
    <param name="plane_reg_ratio_min" value="1.0"/>
    <param name="plane_reg_ratio_max" value="5.0"/>
    <param name="warp_meter2pixel" value="2000.0"/>

    <param name="plane_ransac_repeat_time" value="1000"/>
    <param name="plane_ransac_th_error" value="0.001"/>

    <param name="text_binarize_win_size" value="4"/>
    <param name="text_binarize_subtract" value="3.0"/>

    <param name="text_ransac_repeat_time" value="200"/>
    <param name="text_ransac_th_error" value="0.5"/>
  </node>
  <node name="tf_realsense" pkg="tf" type="static_transform_publisher" 
    args="0 0 0 0 0 0 1 camera_color_optical_frame my_frame 100" respawn="false" output="screen" />
</launch>
