<launch>
  <include file="$(find cobot_pick)/launch/inc_find_object.launch" >
    <arg name="tf_world2camera" default="0 0 0 0 0 0 1" />
    <arg name="mode" default="action" />
    <arg name="save_file_prefix"
        default="/home/tong/catkin_ws/src/cobot/cobot_pick/data/white_box_label4" />
    <arg name="show_result" default="true" />
  </include>
</launch>
