<launch>
  <include file="$(find cobot_pick)/launch/inc_find_object.launch" >
<!--    <arg name="tf_world2camera" default="0.494730 0.143424 0.465173 0.355984 0.911421 -0.181333 -0.098513" /> -->
    <arg name="mode" default="action" />
    <arg name="show_result" default="false" />
    <arg name="save_result" default="true" />
    <arg name="launch_prefix" default="" />
  </include>
</launch>
