<launch>
  <node name="cobot_pick_save_object" pkg="cobot_pick" type="cobot_find_object" respawn="false" output="screen" >
    <param name="mode" value="save"/>
    <param name="save_file_prefix" value="hotel_box"/>
    <param name="data_save_path" value="$(find cobot_pick)/data/"/>
    <param name="result_save_path" value="$(find cobot_pick)/results/"/>
  </node>
</launch>
